%Unclickable {
  cursor: default;
}

%Unselectable {
  @extend %Unclickable;
  & *::selection {
    background-color: transparent;
  }
  &::selection {
    background-color: transparent;
  }

}

%Std-Transition {
  transition: all linear 0.2s;
}

%Inline-Block-Middle {
  display: inline-block;
  vertical-align: middle;
}

%Table-Cell-Middle{
  display: table-cell;
  vertical-align: middle;
}

%Table-Cell-Top{
  display: table-cell;
  vertical-align: top;
}

%Inline-Block-Top {
  display: inline-block;
  vertical-align: top;
}

%Border-Radius {
  border-radius: 3px;
}


