html {
  font-size: 1px;
  position: relative;
}

input, button, textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}
main{
  background: $main-back;
  padding: 34px 0;
}
body {
  position: relative;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.Wrapper {
  max-width: 1200px;
  padding: 0 24px;
  margin: auto;

  @include Adaptive("<=tablet"){
    padding: 0 12px;
  }
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

.Svg-Container {
  display: none;
  height: 0;
  opacity: 0;
}

.Left{
  text-align: left;
}

.Right{
  text-align: right;
}




