.Card-Item {
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Card-Wrapper {
  @extend %Border-Radius;

  background: $back-card;

  @at-root .Card-Head {
    display: table;
    width: 100%;
    padding: 16px 24px;
    font-size: 0;

    @include Adaptive("<=tablet"){
      padding: 12px;
    }

    .Card-Path {
      display: table-cell;
      vertical-align: middle;
      width: 50%;

      @include Adaptive("<ipad-D"){
        display: block;
        width: 100%;
        margin-bottom: 12px;
      }



      &:nth-of-type(2) {
        padding-left: 24px;

        @include Adaptive("<ipad-D"){
          padding-left: 0;
        }
      }

    }
  }

  @at-root .Card-Number {
    @extend %Inline-Block-Middle;

    font-size: 16rem;
    font-weight: 300;
    color: $card-text;
  }

  @at-root .Card-Title {
    @extend %Inline-Block-Middle;

    font-size: 20rem;
    color: $card-text;
    font-weight: 500;
    padding-bottom: 2px;
    padding-left: 24px;
  }

  @at-root .Card-Version {
    @extend %Inline-Block-Middle;
    @extend %Unselectable;

    width: 48px;
    height: 32px;
    padding-top: 11px;
    text-align: center;
    background: $button-color;
    color: white;
    font-size: 14rem;
    font-weight: 500;
    line-height: 0.9;
    @extend %Border-Radius;
  }

  @at-root .Card-Users {
    @extend %Inline-Block-Middle;

    margin-left: 72px;

    @include Adaptive("<=ipad-L"){
      margin-left: 15px;
    }

    svg {
      @extend %Inline-Block-Middle;
      width: 13px;
      height: 16px;
      fill: $button-color;
    }

    span {
      @extend %Inline-Block-Middle;
      @extend %Unselectable;

      color: $card-text;
      font-size: 14rem;
      font-weight: 500;
      line-height: 0.9;
      padding-left: 10px;
      padding-top: 1px;
    }
  }

  @at-root .Card-Diamond {
    @extend %Inline-Block-Middle;

    margin-left: 50px;

    @include Adaptive("<=ipad-L"){
      margin-left: 15px;
    }

    img {
      @extend %Inline-Block-Middle;

      height: 16px;
    }

    span {
      @extend %Inline-Block-Middle;
      @extend %Unselectable;

      color: $card-text;
      font-size: 14rem;
      font-weight: 500;
      line-height: 0.9;
      padding-left: 12px;
      padding-top: 1px;
    }
  }

  @at-root .Card-Liker {
    @extend %Inline-Block-Middle;

    margin-left: 46px;
    font-size: 0;

    @include Adaptive("<=ipad-L"){
      margin-left: 15px;
    }

    @include Adaptive("<=tablet"){
      display: block;
      margin-top: 12px;
      margin-left: 0;


    }

    svg {
      display: block;
      margin: auto;
      width: 20px;
      height: 20px;
      fill: #ababab;
      padding-right: 1px;

    }

    @at-root .Like-Count {
      @extend %Inline-Block-Middle;
      @extend %Unselectable;

      width: 74px;
      height: 32px;
      padding-top: 11px;
      color: $card-text;
      font-size: 14rem;
      font-weight: 500;
      line-height: 0.9;
      text-align: center;
      background: white;
      margin: 0 2px;

    }

    .Like-Down {
      @extend %Inline-Block-Middle;
      @extend %Std-Transition;

      width: 45px;
      height: 32px;
      padding: 6px 0;
      background: white;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      cursor: pointer;

      svg {
        @extend %Std-Transition;
      }

      &:hover {
        @extend %Std-Transition;

        background: $button-color;
        svg {
          @extend %Std-Transition;
          fill: white;
        }
      }

    }

    .Like-Up {
      @extend %Inline-Block-Middle;
      @extend %Std-Transition;

      width: 45px;
      height: 32px;
      padding: 6px 0;
      background: white;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;

      &:hover {
        @extend %Std-Transition;

        background: $button-color;
        svg {
          @extend %Std-Transition;
          fill: white;
        }
      }

      svg {
        @extend %Std-Transition;

        transform-origin: center center;
        transform: rotate(180deg);
      }
    }
  }

  @at-root .Card-Content {
    display: table;
    width: 100%;


    .Card-Path {
      display: table-cell;
      width: 50%;
      height: 100%;
      vertical-align: top;
      padding: 24px;
      background: white;

      @include Adaptive("<=ipad-L"){
        display: block;
        width: 100%;
        border: none;
      }

      @include Adaptive("<=tablet"){
        padding: 12px;
      }


      &:nth-of-type(1) {
        border-right: 1px solid $back-card;
        border-bottom-left-radius: 3px;

        @include Adaptive("<=ipad-L"){
          border: none;
        }

      }

      &:nth-of-type(2) {
        border-left: 1px solid $back-card;
        border-bottom-right-radius: 3px;

        @include Adaptive("<=ipad-L"){
          border: none;
          border-bottom-left-radius: 3px;
        }


      }
    }
  }

  @at-root .Card-More {
    @extend %Border-Radius;

    width: 144px;
    background: $button-color;
    text-align: center;
    padding: 9px 0;
    font-size: 0;

    span {
      @extend %Inline-Block-Middle;

      font-size: 14rem;
      color: white;
      font-weight: 500;
      padding-right: 17px;
    }

    svg {
      @extend %Inline-Block-Middle;

      width: 15px;
      height: 12px;
      fill: white;
      stroke: white;
    }
  }

  @at-root .Card-Tags {

    display: table;
    width: 90%;

    ul {
      @extend %Table-Cell-Top;

    }

    li {
      @extend %Inline-Block-Middle;
      @extend %Border-Radius;

      font-size: 12rem;
      color: #777777;
      background: $back-card;
      margin: 0 5px 5px 0;
      padding: 5px 7px;
    }
  }
  @at-root .Tags-Logo {

    @extend %Inline-Block-Top;

    width: 16px;
    height: 16px;
    fill: $button-color;
    margin: 3px 10px 0 0;

  }

  @at-root .Card-Description {
    font-size: 15rem;
    color: $card-text;
    line-height: 1.6;
    padding-right: 100px;
    margin-bottom: 24px;

    @include Adaptive("<ipad-D"){
      padding-right: 0;
    }

  }

  @at-root .Card-Advertising {
    margin-bottom: 28px;

    img {
      max-width: 100%;
    }
  }
}

