.Card-Full {
  @extend %Border-Radius;

  max-width: 1248px;
  margin: auto;
  padding: 0 24px;

  @include Adaptive("<=tablet"){
    padding: 0 5px;
  }

  @at-root .Full-Title {
    color: $card-text;
    font-size: 28rem;
    font-weight: 500;
  }

  @at-root .Full-Tabs-Nav {
    ul {
      padding-left: 12px;
      font-size: 0;
      border-bottom: 1px solid #e2e2e2;
    }

    li {
      position: relative;
      top: 1px;
      display: inline-block;
      vertical-align: top;
      color: $card-text;
      font-size: 14rem;
      font-weight: 700;
      text-align: center;
      padding: 8px 7px 8px 7px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      text-transform: uppercase;

      &.Active {
        background: white;
        border-bottom: 1px solid white;
      }
    }
  }

  @at-root .Full-Head {
    background: $back-card;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  @at-root .Full-Top {
    display: table;
    width: 100%;
    padding: 20px 24px;

    .Card-Path {
      display: table-cell;
      width: 50%;
      vertical-align: middle;


      @include Adaptive("<=tablet"){
        display: block;
        width: 100%;

        .Card-Liker{
          text-align: left;
        }
      }

      &:nth-of-type(2) {
        text-align: right;
      }
    }
  }

}

.Full-Description {
  display: table;
  width: 100%;
  background: white;
  padding: 32px 24px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  tr {

    @include Adaptive("<=ipad-L"){
      display: inline-block;
      width: 50%;

      @include Adaptive("<=480px"){
        width: 100%;
      }

    }

    td {
      color: $card-text;
      font-size: 14rem;
      padding-bottom: 32px;
      line-height: 1.714;
      vertical-align: top;

      @include Adaptive("<=ipad-L"){
       display: block;
        padding-bottom: 12px;
      }

      a {
        color: $button-color;
      }
    }

    td:nth-of-type(1) {
      width: 216px;
      padding-right: 24px;

      @include Adaptive("<=ipad-L"){
        font-weight: 500;
        width: 100%;
      }
    }

    td:nth-of-type(2) {
      width: 384px;
      padding-right: 24px;
      font-weight: 500;

      @include Adaptive("<=ipad-L"){
        font-weight: 400;
        width: 100%;
      }
    }



  }

  .Description-Table{

    ul{
      display: table;
      width: 100%;

      li{
        @extend %Table-Cell-Top;
        width: 50%;

        @include Adaptive("<=ipad-L"){
          width: 100%;
          display: block;
        }
      }
    }

  }

 @at-root .By-Server {

   display: table-cell;
   vertical-align: top;
   padding-right: 48px;

   @include Adaptive("<=ipad-L"){
     display: block;
     padding: 0;
   }



    h3 {

      font-size: 24rem;
      font-weight: 500;
      margin-bottom: 24px;
      line-height: normal;
      color: $card-text;
    }

    p {
      color: $card-text;
      font-size: 14rem;
      line-height: 1.714;
      margin-bottom: 32px;

      @include Adaptive("<=ipad-L"){
        margin-bottom: 12px;
      }

    }
  }

}