.Footer {
  background: url("/img/bg-footer.jpg") center center no-repeat;
  background-size: cover;
  padding: 32px 0 0 0;
}

.Footer-Content {
  font-size: 0;
  margin-bottom: 34px;
}

.Footer-Block {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;



  &:nth-of-type(1), &:nth-of-type(2) {

    width: 21%;
    padding-right: 65px;

    .Footer-List li a {
      @include Adaptive("<ipad-D"){
      width: 200px;
      margin: auto;
  }
}

  }

  &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
      @include Adaptive("<ipad-D"){
      width: 50%;
      padding: 0;
      text-align: center;
      margin-bottom: 24px;

      .Footer-List li a{
        display: inline-block;
      }
    }

    @include Adaptive("<=tablet"){
      width: 100%;
    }
  }

  &:nth-of-type(3) {
    width: 37%;
    padding-right: 72px;
  }

  &:nth-of-type(4) {
    width: 21%;
    padding-left: 0;
    .Footer-Title {
      padding-left: 0;
      margin-bottom: 16px;
    }
  }

  @at-root .Footer-Title {

    @extend %Unselectable;

    font-size: 16rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 14px;
    margin-bottom: 24px;


    @include Adaptive("<ipad-D"){
      padding: 0;
    }
  }

  .Footer-List {
    li {
      color: #e2e2e2;
      font-size: 14rem;
      margin-bottom: 8px;

      a {
        line-height: 1.143;
        padding: 4px 14px;
        @extend %Border-Radius;

        &:hover {
          background: $button-color;
        }

      }
    }
  }

  @at-root .Footer-Socials {

    font-size: 0;
    margin-bottom: 32px;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;

      a {
        @extend %Std-Transition;

        display: table;
        width: 40px;
        height: 40px;
        background: #595959;
        @extend %Border-Radius;

        &:hover {
          @extend %Std-Transition;

          background: $button-color;

          svg {
            @extend %Std-Transition;

            fill: white;
          }
        }
      }

      span {
        display: table-cell;
        vertical-align: middle;
      }

      svg {
        @extend %Std-Transition;

        display: block;
        margin: auto;
        fill: #777777;
      }
    }

    .Vk-Logo {
      width: 24px;
      height: 13px;
    }

    .Fb-Logo {
      width: 13px;
      height: 24px;
      padding-right: 2px;
    }

    .Ok-Logo {
      width: 14px;
      height: 24px;
      padding-top: 3px;
    }

    .Tw-Logo {
      width: 23px;
      height: 20px;
    }

    .Gp-Logo {
      width: 24px;
      height: 15px;
    }
  }

  @at-root .Footer-Counter {
    font-size: 0;

    li {
      display: inline-block;
      vertical-align: top;
      width: 88px;
      margin-bottom: 16px;

      &:nth-of-type(odd) {
        margin-right: 56px;
      }
    }
  }

  @at-root .Footer-Copyright {

    font-size: 12rem;
    font-weight: 500;
    color: white;
    padding: 22px 0;
    background: rgba(0, 0, 0, 0.3);

    span {
      padding-left: 24px;
    }

  }

}