.Pagenav {

  font-size: 0;
  text-align: center;
  margin-top: 34px;

  ul {
    @extend %Inline-Block-Middle;
  }

  li {
    @extend %Inline-Block-Middle;
    @extend %Std-Transition;

    width: 46px;
    height: 32px;
    background: white;
    font-size: 12rem;
    color: $card-text;
    margin: 0 1px;
    font-weight: 500;

    &.Active {
      background: $button-color;
      color: white;

      &:hover {
        color: white;
      }
    }

    &:hover {
      @extend %Std-Transition;
      color: $button-color;
    }

    a {
      padding: 10px 0;
    }
  }

  span {
    @extend %Inline-Block-Middle;

    width: 46px;
    height: 32px;
    background: white;
    margin: 0 1px;

    svg {

      @extend %Std-Transition;

      width: 17px;
      height: 20px;
      margin-top: 5px;
      fill: #acacac;
    }

    &:hover {
      @extend %Std-Transition;
      background: $button-color;

      svg {
        @extend %Std-Transition;
        fill: white;
      }
    }

    a {
      width: 100%;
      height: 100%;
    }

  }

  .Pagenav-Beginning {

    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    svg {
      transform-origin: center center;
      transform: rotate(90deg);
      margin-right: 3px;
    }
  }

  .Step-Prev {
    svg {
      transform-origin: center center;
      transform: rotate(90deg);
      margin-right: 3px;
    }
  }

  .Pagenav-End {

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    svg {
      transform-origin: center center;
      transform: rotate(-90deg);
    }
  }

  .Step-Next {

    svg {
      transform-origin: center center;
      transform: rotate(-90deg);
    }
  }
}

.Button-Up {
  @extend %Border-Radius;
  @extend %Std-Transition;

  position: fixed;
  left: 20px;
  top: 40%;
  padding: 6px 7px;
  background: #f3f3f3;
  cursor: pointer;

  &:hover{
    @extend %Std-Transition;

    background: $button-color;

    svg{
      @extend %Std-Transition;

      fill: white;
    }
  }

  @include Adaptive("<=ipad-D"){
    display: none;
  }

  svg {
    @extend %Std-Transition;
    width: 25px;
    height: 25px;
    transform-origin: center center;
    transform: rotate(180deg);
  }
}